      <!--Jumbotron-->
      <div class="container">
        <div class="row justify-content-center mt-5 pb-4">
           <div class="col-md-8">
              <div class="card shadow p-5 mb-5 bg-light">
                 <h1 class="text-center mb-3">Find our best travel deals</h1>
                 <form class="form-inline d-flex flex-nowrap">

                    <select class="form-select" aria-label="Default select example">
                       <option selected>Select a destination...</option>
                       <option value="america">America</option>
                       <option value="africa">Africa</option>
                    </select>
                    <button type="submit" class="flex-shrink-1 btn btn-primary ms-2">Submit</button>
                 </form>

              </div>
           </div>
        </div>
     </div>